
<table class="table table-dark table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col" class="col-md-3">Produto</th>
      <th scope="col" class="col-md-2">Quantidade</th>
      <th scope="col" class="col-md-2">Combo vigente</th>
      <th scope="col" class="col-md-2">Valor</th>
  </thead>
  <tbody>
    <tr>
      <td>Duplo Malte</td>
      <td>3</td>
      <td>3 x 15,00</td>
      <td>R$:15,00</td>
    </tr>
    <tr>
      <td>Heineken</td>
      <td>4</td>
      <td>3 x 20,00</td>
      <td>R$:27,00</td>
    </tr>
    <tr>
      <td colspan="3" class="table-active"></td>
      <td><p class="fs-3 text-primary">Coveiro</p></td>
    </tr>
    <tr>
      <td colspan="3" class="table-active"></td>
      <td><p class="fs-3 text-danger">R$:42,00</p></td>
    </tr>
  </tbody> 

</table>



