<div class="container">
<div class="card text-dark bg-info mb-3" style="text-align: center;">
  <div class="card-body">
    <h5 class="card-title">Controle do Bar</h5>
    <h6 class="card-subtitle mb-2 text-muted">L.A.M.C</h6>
    <p class="card-text">Sistema básico para controle de estoque e lançamento de consumos. 
      Facilitando o levantamento dos gastos mensais dos integrantes e visitantes.</p>
    <a href="http://legionariosdeacomc.com.br/" class="card-link">Visite nosso site.</a>
  </div>
</div>
</div>
