<div class="container">
  <!-- Title -->
  <div class="alert alert-info" role="alert" style="text-align: center;padding-bottom: 0px;">
    <p class="fs-4 fw-bolder">Lançamento de Consumo</p>
  </div>

  <!-- Table of consuming-->
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="col-md-1">#Foto</th>
        <th scope="col" class="col-md-3">Nome</th>
        <th scope="col" class="col-md-2">Produto</th>
        <th scope="col" class="col-md-1">Quantidade</th>
        <th scope="col" class="col-md-1">Adicionar</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lanc of lancamentos">
        <td scope="row">{{lanc.integrante.id}}</td>
        <td>{{lanc.integrante.nome}}</td>
        <td>
          <select  class="form-select" [(ngModel)]="lanc.produtoSelecionado" >
            <option [disabled]="true" value="0" [selected]>Escolha um produto...</option>
            <option *ngFor="let p of lanc.produtos" [ngValue]="p">
              {{p.nome}}
            </option>
          </select>
        </td>
          <td><input type="number" class="form-control" min="1" max="12" maxlength="1" defaultValue="0" [(ngModel)]="lanc.quantidade"></td>
          <td>
            <button type="button" class="btn btn-success" [disabled]="!validaPreenchimento(lanc)" (click)="adicionaConsumo(lanc)">
              <fa-icon [icon]="carrinhoCompra"></fa-icon>
            </button>
        </td>
      </tr>

  
    </tbody>
  </table>
</div>