<div class="container">
  <!-- Title -->
  <div class="alert alert-info" role="alert" style="text-align: center;padding-bottom: 0px;">
    <p class="fs-4 fw-bolder">Lançamento de Consumo <fa-icon [icon]="iconeLancamento"></fa-icon></p>
  </div>

  <!-- Table of consuming-->
  <table class="table  table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="col-md-1">#Id</th>
        <th scope="col" class="col-md-3">Nome</th>
        <th scope="col" class="col-md-2">Produto</th>
        <th scope="col" class="col-md-1">Quantidade</th>
        <th scope="col" class="col-md-1 text-center">Adicionar</th>
        <th scope="col" class="col-md-1 text-center">Subtrair</th>
        <th scope="col" class="col-md-1">Consumir</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lanc of lancamentos">
        <td scope="row">{{lanc.integrante.id}}</td>
        <td>{{lanc.integrante.nome}}</td>
        <td>
          <select  class="form-select" [(ngModel)]="lanc.produtoSelecionado" >
            <option [disabled]="true" value="0" [selected]>Escolha um produto...</option>
            <option *ngFor="let p of lanc.produtos" [ngValue]="p">
              {{p.nome}}
            </option>
          </select>
        </td>
        <td>
          <input type="text" class="form-control text-center" min="1" max="12" maxlength="2" pattern = "[0-9]" [disabled]="true"  [(ngModel)]="lanc.quantidade">
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-success" style="width: 80px;"><fa-icon [icon]="iconeMais"></fa-icon></button>
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-danger" style="width: 70px;"><fa-icon [icon]="iconeMenos"></fa-icon></button>
        </td>
        <td>
          <button type="button" class="btn btn-success" [disabled]="!validaPreenchimento(lanc)" 
            (click)="adicionaConsumo(lanc)" data-bs-toggle="modal" data-bs-target="#modalConfirmar">
              <fa-icon [icon]="carrinhoCompra"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

   <!-- Modal Confirmar-->
 <div class="modal fade" id="modalConfirmar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
 aria-labelledby="staticBackdropLabel" aria-hidden="true">
   
   <div class="modal-dialog">
     <div class="modal-content">
       
       <div class="modal-header">
         <h5 class="modal-title" id="staticBackdropLabel">Confirme as informações</h5>  
       </div>
       <div class="modal-body">
         <div class="mb-3">
           <p class="text-center fs-4"><span class="fw-bold">{{lancamentoSelecionado.quantidade}}  {{lancamentoSelecionado.produtoSelecionado.nome}}</span>
            para o <span class="fw-bold fst-italic ">{{lancamentoSelecionado.integrante.nome}}</span>
           </p>   
         </div>
         <div class="mb-3">
          <p class="fs-5 text-center">Os dados estão corretos? </p>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
         <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="lancarConsumo()">Lançar</button>
       </div>
     </div>
   </div>
 </div>
</div>