<div class="container">
  <!-- Title -->
  <div class="alert alert-info" role="alert" style="text-align: center;padding-bottom: 0px;">
    <p class="fs-4 fw-bolder">Lançamento de Consumo</p>
  </div>

  <!-- Table of consuming-->
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="col-md-1">#Foto</th>
        <th scope="col" class="col-md-3">Nome</th>
        <th scope="col" class="col-md-2">Produto</th>
        <th scope="col" class="col-md-1">Quantidade</th>
        <th scope="col" class="col-md-1">Adicionar</th>

      </tr>
    </thead>
    <tbody>
      <tr >
        <td scope="row">1</td>
        <td>Coveiro</td>
        <td>
          <select  class="form-select" [(ngModel)]="lancamento.produto" aria-label="Default select example">
            <option [disabled]="true" >Escolha um produto...</option>
            <option *ngFor="let p of produtosLanc" [ngValue]="p">
              {{p.nome}}
            </option>
          </select>
      </td>
        <td><input type="number" class="form-control" min="1" max="5" [(ngModel)]="lancamento.quantidade"></td>
        <td>
          <button type="button" class="btn btn-success" (click)="adicionaConsumo()">
            <fa-icon [icon]="carrinhoCompra"></fa-icon>
          </button>
      </td>
      </tr>
      <tr >
        <td scope="row">2</td>
        <td>Ticano</td>
        <td>
          <select class="form-select" (ngModel)="lancamento.produto" aria-label="Default select example">
            <option [disabled]="true">Escolha um produto...</option>
            <option *ngFor="let p of produtosLanc" [ngValue]="p">
              {{p.nome}}
            </option>
          </select>
        </td>
        <td><input type="number" class="form-control" min="1" max="5" [(ngModel)]="lancamento.quantidade"></td>
        <td>
           <button type="button" class="btn btn-success"  (click)="adicionaConsumo()">
            <fa-icon [icon]="carrinhoCompra"></fa-icon>
           </button>
        </td>
      </tr>
  
    </tbody>
  </table>
</div>