<div class="container">
  <div id="alertmsg"class="alert alert-success" role="alert" style="text-align: center; padding-bottom: 0px;">
    <p class="">Sucesso</p>
  </div>
  <div class="alert alert-info" role="alert" style="text-align: center;padding-bottom: 0px;">
    <p class="fs-4 fw-bolder">Gerenciamento de Estoque L.A.M.C <fa-icon [icon]="iconeEstoque"></fa-icon></p>
  </div>

  <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-bottom: 10px; width: 100%;">
    <input type="radio" class="btn-check" name="btnradio" id="btnProdutos" value="PRODUTOS" [(ngModel)]="menuSelecionado" autocomplete="off" checked>
    <label class="btn btn-outline-info" style="width: 200px;" for="btnProdutos">Produtos</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnPreco" value="COMBOS" [(ngModel)]="menuSelecionado"  autocomplete="off">
    <label class="btn btn-outline-info" style="width: 200px;" for="btnPreco">Preços e combos</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnEstoque" value="ESTOQUE" [(ngModel)]="menuSelecionado" autocomplete="off">
    <label class="btn btn-outline-info" style="width: 200px;" for="btnEstoque">Estoque</label>
  </div>

  <!-- PRODUTOS-->
  <div *ngIf="menuSelecionado == 'PRODUTOS'"><app-produtos [produtos]="produtosEst"></app-produtos></div>
  
  <div *ngIf="menuSelecionado == 'PRODUTOS'">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalIncluirProduto">Incluir novo produto</button> 
  </div>

  
  <!-- COMBOS-->
  <div *ngIf="menuSelecionado == 'COMBOS'"><app-combos></app-combos></div>

  <!-- Estoque -->
  <div *ngIf="menuSelecionado == 'ESTOQUE'">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="col-md-3">Produto</th>
          <th scope="col" class="col-md-1">Quantidade</th>
          <th scope="col" class="col-md-2">Preço Unitário Adquirido</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Duplo Malte</th>
          <td>180</td>
          <td>R$: 2,75</td>
        </tr>    
      </tbody>
    </table>
  </div>
  <!-- Modal incluir produto-->
<div class="modal fade" id="modalIncluirProduto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
aria-labelledby="staticBackdropLabel" aria-hidden="true">
  
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Incluir Produto</h5>  
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="produto-name" class="col-form-label">Nome:</label>
          <input type="text" class="form-control" id="produto-name"  [(ngModel)]="newProduto.nome" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addNewProduto()">Incluir</button>
      </div>
    </div>
  </div>
</div>

 <!-- Modal Adicionar Quantidade-->
 <div class="modal fade" id="modalAdicionar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
 aria-labelledby="staticBackdropLabel" aria-hidden="true">
   
   <div class="modal-dialog">
     <div class="modal-content">
       
       <div class="modal-header">
         <h5 class="modal-title" id="staticBackdropLabel">Adicionar Estoque</h5>  
       </div>
       <div class="modal-body">
         <div class="mb-3">
           <label for="produto-name" class="col-form-label">Quantidade:</label>
           <input type="text" class="form-control" id="produto-name" [(ngModel)]="quantidadeNew">
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
         <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addQuantidade()">Adicionar</button>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal Subtrair Quantidade-->
 <div class="modal fade" id="modalSubtrair" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
 aria-labelledby="staticBackdropLabel" aria-hidden="true">
   
   <div class="modal-dialog">
     <div class="modal-content">
       
       <div class="modal-header">
         <h5 class="modal-title" id="staticBackdropLabel">Subtrair Estoque</h5>  
       </div>
       <div class="modal-body">
         <div class="mb-3">
           <label for="produto-name" class="col-form-label">Quantidade:</label>
           <input type="text" class="form-control" id="produto-name">
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
         <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Subtrair</button>
       </div>
     </div>
   </div>
 </div>

<script>
window.setTimeout(function() {
  $("#alertmsg").fadeTo(500, 0).slideUp(500, function(){
      $(this).remove(); 
  });
}, 2000);
  </script>
</div>