<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active"><fa-icon [icon]="iconeHome"></fa-icon> Home</a>
        <a class="nav-item nav-link" routerLink="/lancamentos" routerLinkActive="active"><fa-icon [icon]="iconeLancamento"></fa-icon> Consumo</a>
        <a class="nav-item nav-link" routerLink="/lancamentos" routerLinkActive="active"><fa-icon [icon]="iconePagar"></fa-icon> Pagar</a>
        <a class="nav-item nav-link" routerLink="/estoque" routerLinkActive="active"><fa-icon [icon]="iconeEstoque"></fa-icon> Estoque</a>
        <a class="nav-item nav-link" routerLink="/lancamentos" routerLinkActive="active"><fa-icon [icon]="iconeCobranca"></fa-icon> Cobrança</a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active"><fa-icon [icon]="iconeSobre"></fa-icon> Sobre</a>
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sobre</a>
      </div>
    </div>
  </nav>
</div>