<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/lancamentos" routerLinkActive="active">Lançamentos</a>
      <a class="nav-item nav-link" routerLink="/estoque" routerLinkActive="active">Estoque</a>
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">Sobre</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sobre</a>
    </div>
  </div>
</nav>